<!doctype html>
<html lang="<%=lang%>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="piWorld site">
  <meta name="author" content="Josep Mulet">
  <link rel="icon" href="<%-prefixUrl('/favicon.ico')%>" type="image/x-icon">
  <title>piWorld Login</title>
  <link href="<%-prefixUrl('/assets/libs/bootstrap/pw-bootstrap.min.css')%>" rel="stylesheet">
  <link href="<%-prefixUrl('/apps/login.css')%>" rel="stylesheet">
</head>

<body>
  <div class="main-header">
    <div class="dropdown pull-right">
      <span>
        <%=__('LANGUAGE')%>
      </span>
      <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        <img src="<%-prefixUrl('/assets')%>/img/<%=lang%>.png"></img>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <a href="<%-prefixUrl('/login.htm?clang=es')%>">
            <img src="<%-prefixUrl('/assets/img/es.png')%>"> Español </a>
        </li>
        <li>
          <a href="<%-prefixUrl('/login.htm?clang=ca')%>">
            <img src="<%-prefixUrl('/assets/img/ca.png')%>"> Català</a>
        </li>
        <li>
          <a href="<%-prefixUrl('/login.htm?clang=en')%>">
            <img src="<%-prefixUrl('/assets/img/en.png')%>"> English</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="form-signin">
      <h3 class="form-signin-heading">
        <img src="<%-prefixUrl('/assets/img/logo.png')%>" style="width:64px"> piWorld Login</h3>
      <label for="parents">
        <%=__('LOGIN_AS')%>
      </label>
      <select class="form-control alert-warning" id="parents" name="parents">
        <option label="<%=__('STUDENTS')%>" value="0" selected></option>
        <option label="<%=__('FAMILIES')%>" value="1"></option>
      </select>
      <br/>
      <label for="username" class="sr-only">
        <%=__('USERNAME')%>
      </label>
      <input type="text" id="username" name="username" class="form-control" placeholder="<%=__('USERNAME')%>" required autofocus
        autocomplete="off" autocapitalize="none" autocorrect="off">
      <label for="password" class="sr-only">
        <%=__('PASSWORD')%>
      </label>
      <input type="password" id="password" name="password" class="form-control" placeholder="<%=__('PASSWORD')%>" required autocomplete="off"
        autocapitalize="none" autocorrect="off">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="rememberme" name="rememberme">
          <%=__('REMEMBER_ME')%>
        </label>
      </div>
      <button id="submit" class="btn btn-lg btn-primary btn-block">
        <%=__('LOGIN')%>
      </button>
      <button id="submit2" class="btn btn-lg btn-danger btn-block">
        <%=__('LOGIN')%> as ROOT
      </button>
      <br/>
      <div id="errAlert" class="alert alert-danger" style="display: none">
      </div>

      <% if( msg ){%>
        <div id="msgAlert" class="alert alert-info">
          <p>
            <%= msg %>
          </p>
        </div>
        <%}%>


    </div>

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
      </div>
      <strong>&copy; 2014-2018
        <a href="https://piworld.es">Josep Mulet</a>.</strong> All rights reserved.
    </footer>
  </div>

  <script src="<%-prefixUrl('/assets/libs/bootstrap/pw-bootstrap.js')%>"></script>
  <script src="<%-prefixUrl('/bower_components/crypto-js/crypto-js.js')%>"></script>
  <%- include ./partials/clientPwApp %>


    <script>

      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      $(function () {
        var $submit = $("#submit");
        var $parents = $("#parents");
        var $username = $("#username");
        var $password = $("#password");
        var $rememberme = $("#rememberme");
        var $errAlert = $("#errAlert");

        $("#submit2").on("click", function () {
          $username.val("root");
          $password.val("root");
          $submit.trigger("click");
        });


        var doLogin = function (event) {
          if (event.which) {
            if (event.which === 13) {
              event.preventDefault();
            } else {
              return;
            }
          }
          $submit.prop("disabled", true);
          $("#msgAlert").css("display", "none");
          var data = {
            username: $username.val(), password: $password.val(),
            rememberme: $rememberme.prop("checked"), parents: $parents.val()
          };
          var key = getCookie(pwApp.config.basePrefix + "pwsid");
          $.ajax({
            method: "POST",
            url: pwApp.config.basePrefix + "/login.htm",
            data: CryptoJS.AES.encrypt(JSON.stringify(data), key).toString(),
            contentType: "text/plain;charset=UTF-8"
          }).done(function (d) {
            $submit.prop("disabled", false);
            if (d.errCode) {
              $errAlert.css("display", "");
              $errAlert.html("<p>" + pwApp.__(d.errCode) + "</p>");
            } else if (d.redirect) {
              window.location.href = pwApp.config.basePrefix + d.redirect;
            }
          });
        };

        $submit.on("click", function(event) {
          event.which = 0;
          doLogin(event);
        });
        $password.keypress(doLogin);

      });
    </script>
</body>

</html>