<!doctype html>
<html lang="<%=lang%>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="piWorld site">
    <meta name="author" content="Josep Mulet">
    <link rel="icon" href="<%-prefixUrl('/favicon.ico')%>">
    <title>piWorld change password</title> 
    <link href="<%-prefixUrl('/styles.'+config.version+'.bundle.css')%>" rel="stylesheet">
  </head>
  <body>
    <div class="container">
       <form class="form-signin" action="/changepwd.htm" method="POST">
        <h2 class="form-signin-heading">
          <a href="<%-prefixUrl('/')%>">
          <img src="<%-prefixUrl('/assets/img/logo.png')%>" style="width:64px"> piWorld
        </a>
        </h2>
        <center><h5 class="alert alert-danger"><%=__('NEW_PASSWORD_REQUIRED')%></h5></center>
        <label for="password0"> <%=__('OLD')%></label>
        <input type="password" id="password0" name="password0" class="form-control" required autofocus autocomplete="off" autocapitalize="none" autocorrect="off">
        <label for="password"> <%=__('PASSWORD')%></label>
        <input type="password" id="password" name="password" class="form-control" required autofocus autocomplete="off" autocapitalize="none" autocorrect="off">
        <label for="password2"> <%=__('REPEAT')%> <%=__('PASSWORD')%></label>
        <input type="password" id="password2" name="password2" class="form-control" required autocomplete="off" autocapitalize="none" autocorrect="off">        
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit"><%=__('SEND')%></button>
      </form>
      
      <%if (errCode) {%>
        <div class="form-signin alert alert-danger">
            <p><%= __(errCode) %></p>
        </div>
      <%}%>
    </div> 

    <script src="<%-prefixUrl('/common.'+config.version+'.js')%>"></script>
    <%- include ../../views/partials/clientPwApp %>
    <script src="<%-prefixUrl('/vendor.'+config.version+'.bundle.js')%>"></script>
  </body>
</html>