<!doctype html>
<html lang="<%=lang%>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="piWorld site">
  <meta name="author" content="Josep Mulet">
  <link rel="icon" href="<%-prefixUrl('/favicon.ico')%>" type="image/x-icon">
  <title>piWorld Login</title>
  <link href="<%-prefixUrl('/styles.'+config.version+'.bundle.css')%>" rel="stylesheet">
  <link href="<%-prefixUrl('/login/login.'+config.version+'.bundle.css')%>" rel="stylesheet">
</head>

<body>
  <div class="main-header">
    <div class="dropdown pull-right">
      <span>
        <%=__('LANGUAGE')%>
      </span>
      <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        <img src="<%-prefixUrl('/assets')%>/img/<%=lang%>.png"></img>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li>
          <a href="<%-prefixUrl('/login.htm?clang=es')%>">
            <img src="<%-prefixUrl('/assets/img/es.png')%>"> Español </a>
        </li>
        <li>
          <a href="<%-prefixUrl('/login.htm?clang=ca')%>">
            <img src="<%-prefixUrl('/assets/img/ca.png')%>"> Català</a>
        </li>
        <li>
          <a href="<%-prefixUrl('/login.htm?clang=en')%>">
            <img src="<%-prefixUrl('/assets/img/en.png')%>"> English</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="form-signin">
      <h3 class="form-signin-heading">
        <img src="<%-prefixUrl('/assets/img/logo.png')%>" style="width:64px"> piWorld Login</h3>
      <label for="parents">
        <%=__('LOGIN_AS')%>
      </label>
      <select class="form-control alert-info" id="parents" name="parents">
        <option label="<%=__('STUDENTS')%>" value="0" selected></option>
        <option label="<%=__('FAMILIES')%>" value="1"></option>
      </select>
      <br/>
      <label for="username" class="sr-only">
        <%=__('USERNAME')%>
      </label>
      <input type="text" id="username" name="username" class="form-control" placeholder="<%=__('USERNAME')%>" required autofocus
        autocomplete="off" autocapitalize="none" autocorrect="off">
      <label for="password" class="sr-only">
        <%=__('PASSWORD')%>
      </label>
      <input type="password" id="password" name="password" class="form-control" placeholder="<%=__('PASSWORD')%>" required autocomplete="off"
        autocapitalize="none" autocorrect="off">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="rememberme" name="rememberme">
          <%=__('REMEMBER_ME')%>
        </label>
      </div>
      <button id="submit" class="btn btn-lg btn-primary btn-block">
        <%=__('LOGIN')%>
      </button>
      <button id="submit2" class="btn btn-lg btn-danger btn-block">
        <%=__('LOGIN')%> as ROOT
      </button>
      <br/>
      <div id="errAlert" class="alert alert-danger" style="display: none">
      </div>

      <% if( msg ){%>
        <div id="msgAlert" class="alert alert-info">
          <p>
            <%= msg %>
          </p>
        </div>
        <%}%>


    </div>

    <%- include ../../views/partials/footer %>
  </div>

  <script src="<%-prefixUrl('/common.'+config.version+'.js')%>"></script>
  <%- include ../../views/partials/clientPwApp %>
  <script src="<%-prefixUrl('/vendor.'+config.version+'.bundle.js')%>"></script>
  <script src="<%-prefixUrl('/login/login.'+config.version+'.bundle.js')%>"></script>
</body>

</html>