<!-- Logo -->
<a href="<%-prefixUrl('/desktop.htm')%>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
        <b>p</b>W</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        <b>pi</b>World</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
    </a>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="<%-prefixUrl('/assets/img/avatar/')%><%=uopts.avatar || 0%>.png" class="user-image" alt="User Image">
                    <span class="hidden-xs">
                        <small>
                            <%=user.fullname%>
                        </small>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="<%-prefixUrl('/assets/img/avatar/')%><%=uopts.avatar || 0%>.png" class="img-circle" alt="User Image">

                        <p>
                            <%=user.fullname%>
                                <small>
                                    <%=user.username%>
                                </small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">Avatar</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Profile</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Punts</a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a class="btn btn-default btn-flat" href="<%-prefixUrl('./changepwd.htm')%>">Change pwd</a>

                        </div>
                        <div class="pull-right">
                            <form action="<%-prefixUrl('logout')%>" method="POST">
                                <button class="btn btn-default btn-flat" type="submit">Sign out</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
