<!DOCTYPE html>
<html lang="<%=lang%>">

<head>
    <%- include ../../views/partials/head %>
    <link href="<%-prefixUrl('/admin/admin.'+config.version+'.bundle.css')%>" rel="stylesheet">
</head>

<body class="hold-transition skin-red sidebar-mini fixed" ng-controller="navigation">

    <div growl></div>

    <!-- Site wrapper -->
    <div class="wrapper">

            <header class="main-header">
                    <%- include ../../views/partials/main-header %>        
            </header>

        <!-- =============================================== -->

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="<%-prefixUrl('/assets/img/avatar/')%><%=uopts.avatar || 0%>.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>
                            <small>
                                <%=user.username%>
                            </small>
                        </p>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>


                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop"></i>
                            <span>Applications</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu menu-open" style="display: block">
                            <% applications.forEach( (app) => { %>
                                <li>
                                    <a href="<%=prefixUrl(app.path)%>">
                                        <i class="fa fa-circle"></i>
                                        <%= app.name %>
                                    </a>
                                </li>
                                <% }) %>
                        </ul>
                    </li>
                </ul>


                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">ADMINISTRATION</li>

                    <% if(user.idRole === 0) { %>
                        <li class="treeview">
                            <a href="#" ng-click="centersAndUsers()">
                                <i class="fa fa-laptop"></i>
                                <span> Centers and users </span>
                            </a>
                        </li>
                        <% } else if(user.idRole < 200) { %>
                            <li class="treeview">
                                <a href="#" ng-click="centersAndUsers()">
                                    <i class="fa fa-laptop"></i>
                                    <span> Users </span>
                                </a>
                            </li>
                            <% } %>

                                <% adminTasks.forEach( (at) => { %>
                                    <li class="treeview">
                                        <a href="#">
                                            <i class="fa fa-laptop"></i>
                                            <span>
                                                <%= at.name %>
                                            </span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu menu-open" style="display:block">
                                            <% at.tasks.forEach( (t) => { %>
                                                <li>
                                                    <a href="#" ng-click="openAdminTask('<%=prefixUrl(t.path) %>')">
                                                        <i class="fa fa-circle red"></i>
                                                        <%= t.name %>
                                                    </a>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </li>
                                    <% }) %>

                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Administration
                    <small class="hidden-xs">administrative tasks start here</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="<%=prefixUrl('/desktop.htm')%>">
                            <i class="fa fa-dashboard"></i> Desktop</a>
                    </li>
                    <li class="active">Admin</li>
                </ol>
            </section>

            <!-- Main content: bootstrap angular here -->
            <section id="app-content" class="content">
                <% if (user.idRole === 0) { %>
                    <cu-component ng-if="isCentersAndUsers"></cu-component>
                    <% }  else if (user.idRole < 200) { %>
                        <u-component ng-if="isCentersAndUsers"></u-component>
                        <% } %>
                            <iframe ng-if="!isCentersAndUsers" ng-src="{{iframeSrc}}" frameborder=0 style="width:100%; height:500px">
                            </iframe>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include ../../views/partials/footer %>

    </div>
    <!-- ./wrapper -->


    <script src="<%-prefixUrl('/common.'+config.version+'.js')%>"></script>
    <script src="<%-prefixUrl('/vendor.'+config.version+'.bundle.js')%>"></script>
    <%- include ../../views/partials/clientPwApp %>
    <script src="<%-prefixUrl('/pwc.'+config.version+'.bundle.js')%>"></script>
    <script src="<%-prefixUrl('/admin/admin.'+config.version+'.bundle.js')%>"></script>

        <script>
            $(document).ready(function () {
                angular.element(function () {
                    angular.bootstrap(document, ['ngApp']);
                });
            })
        </script>
</body>

</html>